@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Menu */
body{
    overflow:hidden;
    position:relative;
    height:100vh;
    /*
    px %
    단위.
    vw - view width 100vw 50vw 20vw
    vh - view height 
    */
    font-family:'Roboto', sans-serif}
a{text-decoration:none; color:#222}
.btn-menu{
    display:block; position:relative;
    width:60px; height:60px;
    padding:15px; cursor:pointer; box-sizing:border-box; transition:background-color 200ms ease-in-out
}

.btn-menu:hover{background-color:#222}

.btn-menu span{
    display:block; position:absolute;
    top:50%; width:calc(100% - 30px); height:0; border-bottom:1px solid #222;transform:translateY(-50%); transition:border-color 200ms ease-in-out
}

.btn-menu span::before,
.btn-menu span::after{
    content:''; display:block; position:absolute; top:0; right:0; left:0; width:100%;height:0; border-bottom:1px solid #222; transition:border-color 200ms ease-in-out
}
.btn-menu span::before{transform:translateY(-8px)}
.btn-menu span::after{transform:translateY(8px)}

.btn-menu:hover span,
.btn-menu:hover span::before,
.btn-menu:hover span::after{
    border-color:#fff
}

.side-menu{
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    width:250px;
    height:100%;
    background-color:#fff;
    box-shadow:1px 0 2px rgba(0,0,0,0.15)
}
.side-menu ul{
    margin-top:60px;
    padding-left:40px
}
.side-menu li{}
.side-menu li + li{padding-top:10px}
.side-menu li a{
    display:inline-block;
    position:relative;
    vertical-align:top;
    color:#222;
    font-size:20px;
    font-weight:500;
    line-height:30px
}
.side-menu li a::before{
    content:'';
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:0;
    border-bottom:2px solid #222;
    transition:width 200ms ease-in-out 
    /* transition:all 200ms ease-in-out */
    /* transition:width 200ms ease-in-out, border-color 300ms ease-in; */
}
.side-menu li a:hover::before{
    width:100%;
    /* border-color:#f00 */
    /* border-bottom-width:10px */
}

.btn-close{
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:60px;
    height:60px;
    padding:15px;
    cursor:pointer;
    box-sizing:border-box;
    transition:background-color 200ms ease-in-out
}
.btn-close:hover{
    background-color:#222
}
.btn-close span{
    overflow:hidden;
    display:block;
    position:relative;
    width:100%;
    height:100%
}
.btn-close span::before,.btn-close span::after{
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:200%;
    height:1px;
    background-color:#222;
    transition:background-color 200ms ease-in-out
}
.btn-close:hover span::before,
.btn-close:hover span::after{
    background-color:#fff
}


.btn-close span::before{
    transform:translateX(-50%) translateY(-50%) rotate(45deg)
}
.btn-close span::after{
    transform:translateX(-50%) translateY(-50%) rotate(135deg)
}







/*
box-sizing
padding 값을 포함하여 영역의 사이즈를 적용할 때.

border-box - width, height 사이즈에 padding 포함.
content-box - width, height 사이즈에 padding 포함하지 않음.

*/
