/* google web font load */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
*{margin:0;padding:0}
body{font-family: 'Noto Sans KR','Noto Sans', sans-serif;}
a{text-decoration:none}
ul{list-style-type:none}
h1{text-align: center; margin-top:30px;}
/* tab nav */
.tab-menu{width:800px;margin:0 auto;margin-top:50px}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:30px}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:#999;text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
.tab-menu li a.selected{background-color:#000;cursor:default}
.tab-container{width:800px;margin:0 auto;border-bottom:1px solid #000;box-sizing:border-box}
.tab-container .tab-content{display:none;padding:30px;box-sizing:border-box}
.tab-container .tab-content.selected{display:block}
.background {margin:0; padding:0;}


/* tab 1 */
#tab1-img{width:100%;}

#count{position: absolute; height: 300px; left:50%;margin-left:-100px; margin-top:45px; font-family: 'Noto Sans'; font-size:5em; font-weight:bold ;color:yellow; text-align: center; letter-spacing: 50px;}

/* tab 2 */
.fleximg{width:100%; overflow: hidden; box-sizing: border-box;}
