@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Song+Myung');
*{margin:0;padding:0}
body{font-family:'Noto Sans'}
a{text-decoration:none}
ul{list-style-type:none}
.tab-menu{width:800px;margin:0 auto;margin-top:50px}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:30px}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:#999;text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
.tab-menu li a.selected{background-color:#000;cursor:default}
.tab-container{width:800px;margin:0 auto;border:1px solid #000;box-sizing:border-box}
.tab-container .tab-content{display:none;height:500px;box-sizing:border-box}
.tab-container .tab-content.selected{display:block}
/* img{
  width: 100%;
  height: 100%;
} */
#content1{
  /* background-image: url("./img/cold.png");      
  width: 100%;
  text-align: center; */
}
.title{
  margin-top: 200px;
  font-size: 80px;
  color: white; 
  display: inline-block;
  background-color: rgb(0, 0,0, 0.8);
  padding: 0 50px 0 50px;
}
#content2{
  background-image: url("../img/coldblack2.jpg");      
  width: 100%;
}
#content4{
}
.intro{
  float: right;
  font-size: 15px;
  background-color: rgb(0, 0,0, 0.85);
  display: inline;
  padding-top: 50px;
  padding-left: 30px;
  width: 370px;
  height: 450px;
  color: white;
  line-height: 170%;
}
.name{
  font-size: 50px;
}
.line{
  position: relative;
  top: 25px;
  width: 300px;
  border-top: 1px solid red;
}
.text{
  margin-top: 80px;
}

.songintro{
  padding-top: 80px;
  margin-left: 35px;
}
.songintro li{
  float: left;
  width: 350px;
  margin-right: 30px;
}
.songintro li img{
  border: 1px solid black;
}
.intro1{

}
.intro2{
  padding-top: 30px;
}
.songimg{
  float: left;
}
.songname{
  float: left;
  margin:20px 0 0 13px;
  border-bottom: 1px solid black;
}
.songtext{
  padding: 20px 0 0 13px;
  float: left;
  font-size: 14px;
  line-height: 200%;
}


.images{width:800px; height:500px; position:absolute;
        animation:img1 10s infinite normal;
    }
    .images img{width:100%; height:100%;box-sizing:border-box;}
    @keyframes img1{
        0%{opacity:1;}
  25%{opacity:0;}
        50%{opacity:0;}
        100%{opacity:0;}
    }

    .img2{animation-name:img2;}
    @keyframes img2{
        0%{opacity:0;}
  25%{opacity:1;}
        50%{opacity:0;}
        100%{opacity:0;}
    }

    .img3{animation-name:img3;}
    @keyframes img3{
        0%{opacity:0;}
  25%{opacity:0;}
        50%{opacity:1;}
        100%{opacity:0;}
    }

.img4{animation-name:img4;}
    @keyframes img4{
        0%{opacity:0;}
  25%{opacity:0;}
        50%{opacity:0;}
        100%{opacity:1;}
    }

.clear{
  clear: both;
}