*{margin:0;padding:0}
.gallery{width:1300px;margin:0 auto;padding-top:80px}
ul{list-style-type:none}
.view{position:relative;width:800px;height:500px; float: left;}
.view-item{display:none;position:absolute;width:100%}
.view-item.selected{display:block}
.view-item img{display:block;width:100%}

/* .list{position:relative;width:175px;} */
.list li{width:175px;vertical-align:top; margin-bottom: 20px;}
.list li + li{}
.list li a{display:block;position:relative}
.list li.selected a{cursor:default}
.list li.selected a::after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box}
.list li img{display:block;width:100%}



.clear{clear: both;}
#btn{float: left; margin-left: 30px;}
#btn2{float: right; margin-left: 20px;}