@import url('https://fonts.googleapis.com/css?family=Abel|Nanum+Gothic');
*{margin:0;padding:0}
html {width: 100%; height: 100%; background-color: black;}
body{font-family: 'Nanum Gothic', sans-serif;}
a{text-decoration:none}
ul{list-style-type:none}
.tab-menu{width:1000px;margin:0 auto;margin-top:50px}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:50px}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color: rgb(37, 37, 37);
    font-family: 'Abel', sans-serif; text-transform:uppercase;text-align:center;color: rgb(139, 139, 139);line-height:50px}

.tab-menu li a.selected {font-weight: 700; font-size: 1.2em;}
.tab-menu li:first-child a.selected{background-color:rgb(255, 221, 67);cursor:default; color: #a01717;}
.tab-menu li:nth-child(2) a.selected{background-color:rgb(50, 49, 51);cursor:default; color: #818181;}
.tab-menu li:nth-child(3) a.selected{background-color:rgb(158, 132, 119);cursor:default; color: #3f271d;}
.tab-menu li:last-child a.selected{background-color:rgb(255, 123, 0);cursor:default; color: #000000;}

.tab-container{width:1000px;margin:0 auto;}

.tab-container .tab-content{display:none;padding:30px;height: auto;}
.tab-container .tab-content:first-child {background-color:rgb(255, 221, 67);cursor:default; color: #a01717;}
.tab-container .tab-content:nth-child(2) {background-color:rgb(50, 49, 51);cursor:default; color: #818181;}
.tab-container .tab-content:nth-child(3) {background-color:rgb(158, 132, 119);cursor:default; color: #3f271d;}
.tab-container .tab-content:last-child {background-color:rgb(255, 123, 0);cursor:default; color: #000000;}

.tab-container .tab-content img{float: left; padding-right: 50px;}
.tab-container .tab-content .textbox::after {content: ""; display: block; clear: both;}
.tab-container .tab-content .textbox ul {font-weight: 700; margin: 20px 0; font-size: 15px;}
.tab-container .tab-content .textbox ul li {display: inline-block; line-height: 22px; margin-bottom: 5px;}
.tab-container .tab-content .textbox ul li span {margin-left: 39px;}
.tab-container .tab-content .textbox p {border-top: solid 2px rgba(34, 34, 34, 0.219);border-bottom: solid 2px rgba(34, 34, 34, 0.219);
                                    width: 450px; float: left; padding: 20px 0; box-sizing: border-box; font-size: 16px; line-height: 28px;}

.tab-container .tab-content h1 {font-family: 'Abel', sans-serif; font-size: 23px;}
.tab-container .tab-content.selected{display:block;}