@charset "UTF-8";
/* CSS Document */
/*RESET*/
*{margin:0; padding:0;}
	ul,ol,dl{list-style:none;}
	img , video{max-width:100%; border:0;}
	a{text-decoration:none; color:#333; display:inline-block;}
	table{border-collapse:collapse; border-spacing:0;}
	input , select {vertical-align:middle;}
	html{height:100%;}
	label{cursor:pointer;}
	i , em , address{font-style:normal; font-weight:normal;}
	
/*슬라이드 몸통 */

.slide{background : gray; text-align:center; position:relative; width: 960px; margin: 0 auto; display: block; height:540px;}

.slide_ul{display: block;}
.slide_ul>li{position:absolute; top:0; left:0; list-style:none;z-index:10; display: block;}
.slide_ul>li img{}
li{list-style: none;}

.show{display:block;}


/* 하단 동그라미 버튼 CSS*/
.slide_btn>li{float: left; margin:0 5px 5px 0;}
.slide_btn>li>a{display:block; width: 14px; height:14px; background: url(../img/btn.png) -24px -125px; text-indent: -999em; }
.slide_btn>li>a.active{background-position: 0 -126px;}

.slide_btn{z-index:100; position:absolute; right: 0; bottom:0; }

.slide_btn:after{content:''; display:block; clear:both;}
.slide_btn{*zoom:1;}
