* {margin:0;padding:0}
ul { list-style-type:none; }

.gallery { position:absolute; width:1300px; height:500px; top:50%; left:50%; margin:-250px 0 0 -650px; }

.preview { position:absolute; width:460px; opacity:0.5; }
.pre-item { display:none; position:absolute; width:100%; }
.pre-item.selected { display:block; }
.pre-item img { width:100%; }

.list { position:absolute; width:500px; bottom:0; }
.list li { display:inline-block; width:75px; height:75px; border-radius:50px; overflow:hidden; vertical-align:top; margin-right:15px; }
.list li:last-child { margin-right:0; }

.list li a { display:block; position:relative; }
.list li.selected a { cursor:default; opacity:0.25; }
.list li.selected a:after { content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; }
.list li img { display:block; height:100%; }

.view { position:absolute; right:0; width:800px; height:500px; }
.view-item { display:none; position:absolute; width:100%; }
.view-item.selected { display:block; }
.view-item img { width:100%; }