@import url("https://fonts.googleapis.com/css?family=Sunflower:300");

a{text-decoration: none}
ul{list-style-type: none}
h2{text-align: center; margin-top:120px; font-size: 40px; font-weight: bold;}
body{font-family: 'Sunflower', sans-serif;}


/* 메뉴바 */
.tab-menu{width:800px; margin:0 auto; margin-top:50px}
.tab-menu ul{display:flex}
.tab-menu li{flex:1; height:30px}
.tab-menu li a{position: relative; display: block; width:100%; height:100%; background-color:#fd78b7; text-transform: uppercase; text-align:center; color:#fff; line-height: 30px}
.tab-menu li a.selected{background-color: #fff; cursor: default; color: #000}

/* 내용물 */
.tab-container{width:800px; margin:0 auto; border:1px solid #000; box-sizing:border-box}
.tab-container .tab-content{display:none; padding:30px; height:500px; box-sizing:border-box}
.tab-container .tab-content.selected{display:block}


