@import url('https://fonts.googleapis.com/css?family=Roboto');
    *{
      margin:0;
      padding:0;
    }
    body{
      font-family: 'Gothic A1', sans-serif;
    }
    a{
      text-decoration:none;
    }
    ul{
      list-style-type:none;
    }
    .tab-menu{
      width:800px;
      margin:0 auto;
      margin-top:100px;
      font-size: 12pt;
    }
    .tab-menu ul{
      display:flex /* flex : 비율 */
    } 
    .tab-menu li{
      flex:1;
      height:50px;
    }
    .tab-menu li a{
      position:relative;
      display:block;
      width:100%;
      height:100%;
      background-color:#f2f2f2;
      text-transform:uppercase;
      text-align:center;
      color:gray;
      line-height:50px;
      font-weight: 900;
    }
    .tab-menu li:nth-child(1) a.selected{
      background-color:#2ca6cf;
      color: white;
      cursor:default;
    }
    .tab-menu li:nth-child(2) a.selected{
      background-color:#af402c;
      color: white;
      cursor:default;
    }
    .tab-menu li:nth-child(3) a.selected{
      background-color:#9c9739;
      color: white;
      cursor:default;
    }
    .tab-menu li:nth-child(4) a.selected{
      background-color:#8a4951;
      color: white;
      cursor:default;
    }
    .tab-container{
      width:800px;
      margin:0 auto;
      box-sizing:border-box;
    }
    .tab-container .tab-content:first-child {
      border:4px solid #2ca6cf;
    }
    .tab-container .tab-content:nth-child(2) {
      border:4px solid #af402c;
    }
    .tab-container .tab-content:nth-child(3) {
      border:4px solid #9c9739;
    }
    .tab-container .tab-content:last-child {
      border:4px solid #8a4951;
    }
    .tab-container .tab-content{
      display:none;
      padding:30px;
      height:500px;
      box-sizing:border-box;
    }
    .tab-container .tab-content.selected{
      display:block;
    }
    .tab-content{
      position: relative;
      width: 100%;
      height: 100%;
    }
    img{
      width: 430px;
      height: 430px;
    }
    .content{
      position: absolute;
      top: 0;
      right: 0;
      width: 280px;
      padding: 50px 25px;
    }
    .content h2{
      font-size: 16pt;
      margin-bottom: 30px;
      font-weight: 700;
    }
    .content p{
      font-size: 10pt;
      line-height: 20pt;
    }