@import url('https://fonts.googleapis.com/css?family=Sura');
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

*{margin:0;padding:0}
body{
  font-family: 'Sura', serif;}

a {
  text-decoration:none}

ul {
  list-style-type:none}

.tab-menu {
  width:800px;
  margin:0 auto;
  margin-top:50px; }

.tab-menu ul {
  display:flex;  }  /* 레이아웃을 좀 더 편하게 하기 위해서..자동으로 비율을 조절해줌 */
.tab-menu li{
  flex:1;
  height:30px; }

  .tab-menu li a {
    position:relative;
    display:block;
    width:100%;height:100%;
    text-transform:uppercase;
    background-color:slategray;
    text-align:center;
    color:#fff;
    line-height:30px; }

  .tab-menu li a.selected {
    transition: 0.5s;
    background-color: black;
    cursor:default; }
  
.tab-container {
  width:800px;
  margin:0 auto;}

.tab-container .tab-content {
  display:none;
  height:500px;
  box-sizing:border-box; }

.tab-container .tab-content.selected {
  display:block; 
  overflow: hidden;}
  
  .tab-container .tab-content.selected img {
    width: 800px;
   
  }